nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 40px;
}

nav a {
    color: #ffb6c1;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.active {
  color: white;
  border-bottom: 2px solid white;
}

h1, p {
    text-align: center;
}